<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niurenpai.mapper.dao.AuctionRecordMapper">
  <resultMap id="BaseResultMap" type="com.niurenpai.mapper.model.AuctionRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="auction_plan_id" jdbcType="BIGINT" property="auctionPlanId" />
    <result column="niuren_id" jdbcType="BIGINT" property="niurenId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
</mapper>
