<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niurenpai.mapper.dao.AuctionPlanMapper">
  <resultMap id="BaseResultMap" type="com.niurenpai.mapper.model.AuctionPlan">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_id" jdbcType="VARCHAR" property="planId" />
    <result column="niuren_id" jdbcType="VARCHAR" property="niurenId" />
    <result column="plan_num" jdbcType="VARCHAR" property="planNum"/>
    <result column="back_img_url" jdbcType="VARCHAR" property="backImgUrl" />
    <result column="guess_start_time" jdbcType="TIMESTAMP" property="guessStartTime" />
    <result column="guess_end_time" jdbcType="TIMESTAMP" property="guessEndTime" />
    <result column="auction_end_time" jdbcType="TIMESTAMP" property="auctionEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="city_desc" jdbcType="VARCHAR" property="cityDesc" />
    <result column="job_desc" jdbcType="VARCHAR" property="jobDesc" />
    <result column="job" jdbcType="INTEGER" property="job" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="guess_count" jdbcType="BIGINT" property="guessCount" />
    <result column="deal_amount" jdbcType="DECIMAL" property="dealAmount" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>

</mapper>
