<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niurenpai.mapper.dao.NiuRenAuthMapper">
  <resultMap id="BaseResultMap" type="com.niurenpai.mapper.model.NiuRenAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="niuren_id" jdbcType="VARCHAR" property="niurenId" />
    <result column="info_verfy" jdbcType="VARCHAR" property="infoVerfy" />
    <result column="spec_skill" jdbcType="VARCHAR" property="specSkill" />
    <result column="behave" jdbcType="VARCHAR" property="behave" />
    <result column="job_rank" jdbcType="VARCHAR" property="jobRank" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
</mapper>